In [1]:
import pandas as pd
import glob
import os
  
# merging the files
joined_files = os.path.join("C:/Users/91709/Downloads/Work/UpWork/Himanshu/replies", "*.csv")
  
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

       Unnamed: 0      conversation_id       child_tweet_id  \
0               0  1481291399463161858  1482790924287713292
1               1  1481291399463161858  1482356451511353350
2               2  1481291399463161858  1409747398058971136
3               3  1481291399463161858  1481714471852777473
4               4  1481291399463161858   716142262661480448
...           ...                  ...                  ...
19409         804  1482971315795636224  1465594987102494721
19410         805  1482971315795636224  1354626868478148616
19411         806  1482971315795636224  1012479602172801024
19412         807  1482971315795636224  1012479602172801024
19413         808  1482971315795636224  1460949670088384513

                                              tweet_text      Screen_Name
0      @WatcherGuru üöÄSUCCESSFUL LAUNCH OF $IWR COINüöÄ\...       EmreSecmez
1      @WatcherGuru $ MANA„ÇíË≥≠„Åë„Å¶„ÄÅvEmpireDDAO„ÅÆ$ VEMP„Éà„Éº„ÇØ„É≥...     fukuda_hyuga
2      @WatcherGuru $ AXS„ÇíË≥≠„Åë„Å¶„ÄÅvEmpireDDAO„ÅÆ$ VEMP„Éà„Éº„ÇØ„É≥„Åß...     Danu41619208
3             @WatcherGuru $VET and $NWC my great jewels       CrazyMo208
4      @WatcherGuru @GloryDogeCoin\nA revolutionary I...     cahbolang004
...                                                  ...              ...
19409  @WatcherGuru Result on my page üí∏ https://t.co/...     johnbtcgrant
19410                            @WatcherGuru Safemoonoi  AlexGeo33869150
19411      @WatcherGuru go go go https://t.co/MLolZ6kkAB      CecyliaNera
19412      @WatcherGuru go go go https://t.co/TEjrjpuyUi      CecyliaNera
19413  @WatcherGuru #bluesparrow will take over the w...  mohammadali1357

[19414 rows x 5 columns]

In [5]:
df['count'] = 1
df_users = df[['Screen_Name', 'count']]

In [9]:
unique_users = df_users.groupby(['Screen_Name']).sum().reset_index()

In [11]:
result_sort = unique_users.sort_values(by = ['count'], ascending=False)

In [16]:
result_sort['Profile_url'] ='https://twitter.com/'+result_sort['Screen_Name']

In [18]:
result_sort.to_excel('output.xlsx', index = False)

In [17]:
result_sort

           Screen_Name  count                          Profile_url
8778     m_bluesparrow     92    https://twitter.com/m_bluesparrow
4181     Mohammadslh96     90    https://twitter.com/Mohammadslh96
6128      Tourajpalesh     86     https://twitter.com/Tourajpalesh
8129   hoseins51979372     78  https://twitter.com/hoseins51979372
170        AZ_IBM_7090     77      https://twitter.com/AZ_IBM_7090
...                ...    ...                                  ...
4114      MinhPhngCng2      1     https://twitter.com/MinhPhngCng2
4113       MinhHanhVo1      1      https://twitter.com/MinhHanhVo1
4112      MinervalOwls      1     https://twitter.com/MinervalOwls
4111       Minercoinsx      1      https://twitter.com/Minercoinsx
10614         zzzuohyy      1         https://twitter.com/zzzuohyy

[10615 rows x 3 columns]